extend layout
block content
    table#app_content
        tr#table_head
            td USERNAME
            td GAME TITLE
            td SCORE
        each item in content
            tr
                td #{item.username}
                td #{item.game_title}
                td #{item.score}